

 @import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
/*===================================
=            FONT-FAMILY            =
===================================*/
div#wps_etmfw_error_msg {
    padding-left: 12px;
    color: #e01e1e;
    font-weight: 500;
}

tr.wps_etmfw_field_wrap.ui-sortable-handle:nth-child(2n+1) {
	background: #ffffff;
}

tr.wps_etmfw_field_wrap.ui-sortable-handle:nth-child(2n) {
	background: #f3f5f6;
}
td.check_in_status.column-check_in_status {
    text-align: center;
}
div#wps_etmfw_location_loader {
    text-align: center;
    display: none;
}
div#wps_etmfw_location_loader img {
    width: 30px;
    height: 30px;
}

/*Product Edit Page*/
div#wps_etmfw_event_data {
    padding: 10px 0;
}

.wps_etmfw_dynamic_price_wrap {
    padding: 0 10px;
}

.wps_etmfw_dynamic_pricing_base_price input[type=radio] {
    margin: 0 5px;
}

.wps_etmfwpp_add_fields_title h2 strong {
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0 0;
    display: block;
}

.wps_etmfw_price_cal_rule h4 {
    font-size: 14px;
}

.wps_etmfw_dynamic_pricing_base_price {
    margin: 0 0 15px;
}
