/*===================================
=            FONT-FAMILY            =
===================================*/

@font-face {
    font-family: 'NunitoSans-Black';
    src: url('../fonts/nunito/NunitoSans-Black.eot');
    src: url('../fonts/nunito/NunitoSans-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/nunito/NunitoSans-Black.woff2') format('woff2'), url('../fonts/nunito/NunitoSans-Black.woff') format('woff'), url('../fonts/nunito/NunitoSans-Black.ttf') format('truetype'), url('../fonts/nunito/NunitoSans-Black.svg#NunitoSans-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NunitoSans-Italic';
    src: url('../fonts/nunito/NunitoSans-Italic.eot');
    src: url('../fonts/nunito/NunitoSans-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/nunito/NunitoSans-Italic.woff2') format('woff2'), url('../fonts/nunito/NunitoSans-Italic.woff') format('woff'), url('../fonts/nunito/NunitoSans-Italic.ttf') format('truetype'), url('../fonts/nunito/NunitoSans-Italic.svg#NunitoSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NunitoSans-ExtraBold';
    src: url('../fonts/nunito/NunitoSans-ExtraBold.eot');
    src: url('../fonts/nunito/NunitoSans-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/nunito/NunitoSans-ExtraBold.woff2') format('woff2'), url('../fonts/nunito/NunitoSans-ExtraBold.woff') format('woff'), url('../fonts/nunito/NunitoSans-ExtraBold.ttf') format('truetype'), url('../fonts/nunito/NunitoSans-ExtraBold.svg#NunitoSans-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NunitoSans-Bold';
    src: url('../fonts/nunito/NunitoSans-Bold.eot');
    src: url('../fonts/nunito/NunitoSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/nunito/NunitoSans-Bold.woff2') format('woff2'), url('../fonts/nunito/NunitoSans-Bold.woff') format('woff'), url('../fonts/nunito/NunitoSans-Bold.ttf') format('truetype'), url('../fonts/nunito/NunitoSans-Bold.svg#NunitoSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NunitoSans-SemiBold';
    src: url('../fonts/nunito/NunitoSans-SemiBold.eot');
    src: url('../fonts/nunito/NunitoSans-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/nunito/NunitoSans-SemiBold.woff2') format('woff2'), url('../fonts/nunito/NunitoSans-SemiBold.woff') format('woff'), url('../fonts/nunito/NunitoSans-SemiBold.ttf') format('truetype'), url('../fonts/nunito/NunitoSans-SemiBold.svg#NunitoSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NunitoSans-Light';
    src: url('../fonts/nunito/NunitoSans-Light.eot');
    src: url('../fonts/nunito/NunitoSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/nunito/NunitoSans-Light.woff2') format('woff2'), url('../fonts/nunito/NunitoSans-Light.woff') format('woff'), url('../fonts/nunito/NunitoSans-Light.ttf') format('truetype'), url('../fonts/nunito/NunitoSans-Light.svg#NunitoSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NunitoSans-Regular';
    src: url('../fonts/nunito/NunitoSans-Regular.eot');
    src: url('../fonts/nunito/NunitoSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/nunito/NunitoSans-Regular.woff2') format('woff2'), url('../fonts/nunito/NunitoSans-Regular.woff') format('woff'), url('../fonts/nunito/NunitoSans-Regular.ttf') format('truetype'), url('../fonts/nunito/NunitoSans-Regular.svg#NunitoSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*=====  End of FONT-FAMILY  ======*/


/*===================================
=         GLOBAL CSS               =
===================================*/

:root {
    --mdc-theme-primary: #2196f3;
    --mdc-theme-secondary: #2196f3;
}

body,
html {
    font-family: 'NunitoSans-Regular', sans-serif;
    margin: 0;
}

body {
    background-color: #E5F4FE;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a:focus {
    box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input[type=checkbox]:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=radio]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
select:focus,
textarea:focus {
    box-shadow: none!important;
}

select,
option {
    color: rgba(0, 0, 0, .7)!important;
    box-shadow: none!important;
    border-color: rgba(0, 0, 0, .38)!important;
}

select {
    padding: 10px 30px 10px 15px!important;
}


/*=====  End of GLOBAL CSS  ======*/

.mwb-link {
    font-family: 'NunitoSans-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #3F4756;
    display: inline-block;
}

.active {
    color: #004EB6;
    position: relative;
}

.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 3px solid var( --mdc-theme-primary);
    border-radius: 2px;
}

.mwb-bg-white {
    background-color: #ffffff;
    margin-right: 15px;
}

.mwb-r-8 {
    border-radius: 8px;
}

.mwb-pl-4 {
    padding: 0 4px!important;
}


.mwb-header-container {
    padding: 28px 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 8px;
    margin-right: 15px;
}

.mdc-floating-label {
    color: var( --mdc-theme-primary);
}

.mdc-floating-label--float-above,
.mdc-floating-label--shake {
    color: var( --mdc-theme-primary)!important;
}

.mwb-header-title {
    font-family: "NunitoSans-ExtraBold";
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #2196f3;
    flex: 0 0 100%;
    max-width: calc(100% - 200px);
}

.mwb-navbar {
    padding: 0 32px;
    border-bottom: 1px solid rgba(63, 71, 86, 0.25);
}

.mwb-navbar__items {
    display: flex;
    flex-wrap: wrap;
}

.mwb-navbar__items li {
    margin-right: 32px;
    margin-bottom: 0;
}

.mwb-navbar__items li a {
    padding: 18px 0;
    color: var(--mdc-theme-primary);
}

.mwb-section {
    padding: 28px 32px;
}

.mwb-form-group {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 35px;
}

.mwb-form-group__label {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 15px;
}

.mwb-form-group__control {
    flex: 0 0 60%;
    max-width: 60%;
}

.mwb-form-label {
    font-family: 'NunitoSans-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.mwb-form-select:hover select {
    border-color: rgba(0, 0, 0, .87)!important;
    color: rgba(0, 0, 0, .87);
}

.mwb-form-select:focus select {
    border-color: #2196f3!important;
}

.mdc-button {
    border-radius: 35px!important;
    padding: 12px 24px!important;
    height: 100%;
}

#mwb-etmfw-table-inner-container {
    width: 100%;
}

#mwb-etmfw-table-inner-container table thead th {
    font-weight: bold;
    font-size: medium;
    font-family: 'NunitoSans-ExtraBold';
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgb(63 71 86 / 10%);
    border-radius: 8px;
    padding: 16px;
}

.mwb-col-wrap {
    margin-bottom: 35px;
}

.mwb-shadow-panel {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(63, 71, 86, 0.1);
    border-radius: 8px;
    padding: 16px;
}

.mwb-password-hidden {
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s linear;
    user-select: none;
}

.mwb-password-hidden:hover {
    opacity: 1;
}

.mwb-options {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)!important;
}

.content-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.content-wrap .content {
    flex: 0 0 100%;
    max-width: 70%;
    padding: 0 15px;
}

.content-wrap .cta-wrap {
    flex: 0 0 100%;
    max-width: 30%;
    padding: 0 15px;
    text-align: right;
}

.mwb-cta-btn {
    flex: 0 0 100%;
    max-width: 100px;
    text-align: right;
    margin: 20px 15px;
}

.mwb-cta-btn a {
    color: #ffffff;
}

.mwb-form-group__control .mdc-switch__native-control {
    width: 68px;
    height: 48px;
}

.mwb-btn-primary {
    color: #ffffff;
    background-color: #6200ee;
    border-color: #004EB6;
}

.mwb-btn {
    display: inline-block;
    font-family: 'NunitoSans-Bold';
    font-weight: bold;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 16px 32px;
    font-size: 14px;
    border-radius: 35px;
    letter-spacing: 0.3px;
    text-transform: capitalize;
}

.mwb-btn-primary:hover {
    color: #fff;
}

.mwb-shadow-panel h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

/* BUG FIXES*/

form.mwb-etmfw-integration-section-form .mwb-form-group__control {
    flex: 0 0 100%;
    max-width: 570px;
}

form.mwb-etmfw-integration-section-form .mwb-form-group__control label.mdc-text-field.mdc-text-field--outlined {
    width: 100%;
}

form.mwb-etmfw-gen-section-form .mdc-switch {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

form.mwb-etmfw-gen-section-form .mdc-switch .mdc-switch__thumb-underlay.mdc-ripple-upgraded {
    margin-top: 2px;
}

form.mwb-etmfw-gen-section-form .mdc-switch .mdc-text-field-helper-line {
    margin-left: 20px;
}


@media only screen and (max-width: 768px) {
    .mwb-etmfw-gen-section-form .mwb-form-group__label {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }
    .mwb-form-group__label {
        flex: 100%;
        max-width: 100%;
        padding: 15px;
    }
}

@media only screen and (max-width: 480px) {
    form.mwb-etmfw-gen-section-form .mdc-switch {
        display: block;
    }

    form.mwb-etmfw-gen-section-form .mdc-switch .mdc-text-field-helper-line {
        margin-left: 0px;
        margin-top: 10px;
    }

    form.mwb-etmfw-gen-section-form .mdc-switch .mdc-switch__thumb-underlay.mdc-ripple-upgraded {
        margin-top: 0px;
    }

    .mwb-header-title {
        font-size: 16px;
    }
}

.mwb-etmfw-email-template-section-form .mdc-button {
    padding: 12px 24px !important;
}

h4.mwb_etmfw_overview_heading,
h5.mwb_etmfw_plugin_benefit_heading {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 10px;
    color: #0a2d49;
    font-weight: 600;
}

.mwb_etmfw_overview_content p {
    font-size: 18px;
    line-height: 1.6;
}
.mwb_etmfw_overview_content {
    margin-bottom: 50px;
}

h5.mwb_etmfw_overview_heading,
h5.mwb_etmfw_plugin_premium_heading {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 10px;
    color: #0a2d49;
    font-weight: 600;
}

.mwb_etmfw_plugin_can_do {
    margin-bottom: 50px;
}

.mwb_etmfw_plugin_can_do li {
    font-size: 18px;
    margin-bottom: 16px;
}

td.drag-icon {
    cursor: grab;
}

img#mwb_etmfw_mail_setting_upload_image {
    object-fit: contain;
    width: 100px;
    height: 100%;
    display: block;
}

span.mwb_etmfw_mail_setting_remove_logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: -125px;
    height: 100%;
}

span.mwb_etmfw_mail_setting_remove_logo_span {
    margin-left: 10px;
    color: #000000;
    font-weight: bold;
}

label.mdc-text-field.mdc-text-field--outlined {
    display: flex;
}

.mwb_etmfw_plugin_benefit ol,
.mwb_etmfw_plugin_premium ol {
    list-style: none;
    padding: 0;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.mwb_etmfw_benefit_heading,
.mwb_etmfw_premium_heading {
    color: #0a2d49;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.mwb_etmfw_plugin_benefit ol li,
.mwb_etmfw_plugin_premium ol li {
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(10, 45, 73, 0.3);
    border-radius: 10px;
    padding: 15px;
    line-height: 1.6;
}

.mwb_etmfw_plugin_benefit ol li:nth-child(3n),
.mwb_etmfw_plugin_premium ol li:nth-child(3n) {
    margin-right: 0;
}

.mwb_etmfw_plugin_benefit ol li img,
.mwb_etmfw_plugin_premium ol li img {
    width: 80px;
    height: auto;
}

.mwb_emtfw_list_video_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.mwb_emtfw_list_video_wrapper ol {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
    margin-right: 20px;
}

.mwb_emtfw_list_video_wrapper .mwb_etmfw_video_wrapper {
    flex: 0 0 53%;
    max-width: 53%;
}

.mwb_etmfw_overview_banner-img {
    margin-bottom: 40px;
}

.mwb_etmfw_overview_banner-img img {
    width: 100%;
}

.mwb_etmfw_overview_reach-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.mwb_etmfw_overview_doc,
.mwb_etmfw_overview_support {
    flex: 0 0 50px;
    max-width: 50px;
}
.etmfw-overview__video--url {
    flex: 0 0 47%;
    max-width: 47%;
}

.etmfw-overview__video--url iframe {
    width: 100%;
}


button#mwb_etmfw_mail_setting_upload_logo_button {
    position: absolute;
    right: -170px;
}

@media only screen and (max-width: 992px) {
    .mwb_etmfw_plugin_benefit ol li,
    .mwb_etmfw_plugin_premium ol li {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    .mwb_etmfw_plugin_benefit ol li:nth-child(3n),
    .mwb_etmfw_plugin_premium ol li:nth-child(3n) {
        margin-right: 20px;
    }

    .mwb_etmfw_plugin_benefit ol li:nth-child(2n),
    .mwb_etmfw_plugin_premium ol li:nth-child(2n) {
        margin-right: 0;
    }
    .etmfw-overview__video--url {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

@media only screen and (max-width: 800px) {
    .mwb_emtfw_list_video_wrapper ol {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .mwb-etmfw-email-template-section-form .mwb-form-group:nth-child(3) .mwb-form-group__control {
        max-width: 100%;
        flex: 0 0 100%;
    }

    button#mwb_etmfw_mail_setting_upload_logo_button {
        position: absolute;
        right: 0;
        bottom: -110px;
    }

    span.mwb_etmfw_mail_setting_remove_logo {
        right: 0;
        top: auto;
        bottom: -100px;
    }

    .mwb-etmfw-email-template-section-form .mwb-form-group__control {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

@media only screen and (max-width: 540px) {
    .mwb_etmfw_plugin_benefit ol li,
    .mwb_etmfw_plugin_premium ol li {
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0;
    }

    span.mwb_etmfw_mail_setting_remove_logo {
        right: 0;
    }

    img#mwb_etmfw_mail_setting_upload_image {
        width: 70px;
    }

    button#mwb_etmfw_mail_setting_upload_logo_button {
        position: absolute;
        right: 0;
        max-width: 100%;
    }
}
.mwb-navbar {
    padding: 0 32px;
    border-bottom: 1px solid rgba(63, 71, 86, 0.25);
  }
  .mwb-navbar .mwb-navbar__items {
    display: flex;
    flex-wrap: wrap;
  }
  .mwb-navbar .mwb-navbar__items li {
    margin-right: 32px;
    margin-bottom: 0;
  }
  .mwb-navbar .mwb-navbar__items li a {
    padding: 18px 0;
    color: #000000;
  }
  
  /*=====   Tabs Section CSS Ends  ======*/
  /*============================================
  =           License Section CSS          =
  =============================================*/
  .mwb-wetm-wrap {
    border-radius: 10px;
    border: 1px solid #dddddd;
    box-shadow: 0px 4px 10px #EFEFEF;
    margin: 0 auto;
    max-width: 600px;
    padding: 10px 20px;
  }
  .mwb-wetm-wrap h2 {
    color: #163062;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 150%;
    margin: 10px 0;
    text-align: left;
  }
  .mwb-wetm-wrap .mwb_wetm_license_text > p {
    margin: 10px 0;
  }
  .mwb-wetm-wrap .mwb_wetm_license_text #mwb_wetm_license_form .mwb-wetm-form-table input#mwb_wetm_license_key {
    width: 100%;
    transition: 0.3s ease;
    height: 50px;
    font-size: 14px;
  }
  .mwb-wetm-wrap .mwb_wetm_license_text #mwb_wetm_license_form .mwb-wetm-form-table input#mwb_wetm_license_key:hover {
    border-color: #000000;
  }
  .mwb-wetm-wrap .mwb_wetm_license_text #mwb_wetm_license_form .mwb-wetm-form-table input#mwb_wetm_license_key:focus {
    border-color: #2196f3;
    outline: none;
    box-shadow: none;
  }
  .mwb-wetm-wrap .mwb_wetm_license_text #mwb_wetm_license_form #mwb_wetm_license_activation_status {
    padding: 0 10px;
    font-weight: 600;
  }
  .mwb-wetm-wrap .mwb_wetm_license_text #mwb_wetm_license_form button {
    background-color: #163062;
    text-transform: uppercase;
    width: 100%;
    height: 40px;
    letter-spacing: 1.5px;
    border: 1px solid #163062;
    transition: 0.5s ease;
    font-weight: 600;
  }
  .mwb-wetm-wrap .mwb_wetm_license_text #mwb_wetm_license_form button:hover {
    color: #163062;
    background-color: #ffffff;
  }
  .mwb-wetm-wrap .mwb_wetm_license_text #mwb_wetm_license_form button:focus {
    outline: none;
    box-shadow: none;
  }
  