@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
span.wps-etmfw-event-product-order-listing {
    background-color: #2196f3;
    color: #ffffff;
    font-weight: 600;
    padding: 4px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .wps-offer-notice.notice.notice-warning {
    padding: 0;
    border: none;
    margin-left: 2px;
    margin-right: 20px;
  }
  .wps-offer-notice.notice.notice-warning a img {
    display: block;
    width: 100%;
    height: auto;
  }
  