
/*===================================
=            FONT-FAMILY            =
===================================*/
div#mwb_etmfw_error_msg {
    padding-left: 12px;
    color: #e01e1e;
    font-weight: 500;
}

tr.mwb_etmfw_field_wrap.ui-sortable-handle:nth-child(2n+1) {
	background: #ffffff;
}

tr.mwb_etmfw_field_wrap.ui-sortable-handle:nth-child(2n) {
	background: #f3f5f6;
}
td.check_in_status.column-check_in_status {
    text-align: center;
}
div#mwb_etmfw_location_loader {
    text-align: center;
    display: none;
}
div#mwb_etmfw_location_loader img {
    width: 30px;
    height: 30px;
}
