/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  float: none !important;
}

.wps_etmfw_events_section,
.wps_etmfw_input_ticket_section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.wps_etmfw_events_section label,
.wps_etmfw_input_ticket_section label {
  flex: 0 0 25%;
  max-width: 25%;
}

select#wps_etmfw_event_selected {
  flex: 0 0 75%;
  max-width: 75%;
}

input#wps_etmfw_imput_ticket {
  flex: 0 0 75%;
  max-width: 75%;
  margin: 0;
}

input#wps_etmfw_chckin_email {
  flex: 0 0 75%;
  max-width: 75%;
  margin: 0;
}

.wps_etmfw--loader-btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.wps_etmfw_checkin_button_section {
  flex: 0 0 15%;
  max-width: 115px;
}

div#wps_etmfw_checkin_loader img {
  width: 25px;
  height: auto;
  margin-left: 50px;
}

div#wps_etmfw_edit_info_loader img {
  width: 25px;
  height: auto;
  position: relative;
  top: 5px;
}

#wps_etmfw_edit_info_loader {
  display: none;
}

#wps_etmfw_checkin_loader {
  display: none;
}

#wps_etmfw_event_map {
  width: 60%;
  height: 350px;
  margin-bottom: 10px;
}

.wps_check_in_error {
  /* this class should be added only when the message is displayed otherwise the bs color is visible everytym*/
  background: #e2401c;
  padding: 16px 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0;
}

.wps_check_in_success {
  /* this class should be added only when the message is displayed otherwise the bs color is visible everytym*/
  background: #1a6f1a;
  padding: 16px 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0;
}

.wps_etmfw_addition_info_section input {
  width: 99% !important;
  max-width: 99% !important;
}

.wps-form-group__control label {
  margin-top: 8px;
  margin-left: 5px;
  margin-bottom: 8px;
  line-height: 1;
}

.wps-form-group__control div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.wps_etmfw_view_ticket_section,
.wps_etmfw_calendar_section {
  display: inline-block;
  margin: 5px 0;
}

/* .wps_etmfw_view_ticket_section {
  margin-right: 5px;
} */

.wps_etmfw_view_ticket_section a,
.wps_etmfw_calendar_section a {
  padding: 7px 25px;
  border: 2px solid #28303d;
}

.wps_etmfw_view_ticket_section a:hover,
.wps_etmfw_calendar_section a:hover {
  background: #ffffff !important;
  color: #28303d !important;
}

span#wps_etmfw_edit_ticket {
  font-size: 20px;
  font-weight: 400;
  display: block;
  margin: 10px 0;
  text-decoration: underline;
  cursor: pointer;
}

#wps_etmfw_edit_ticket_form input {
  width: 50%;
}

input#wps_etmfw_save_edit_ticket_info_btn {
  margin-top: 15px;
  width: auto;
}

form#wps_etmfw_edit_ticket_form {
  display: none;
}

form.wps_etmfw_show_ticket_form {
  display: block !important;
}

div#wps_etmwf_event_date img,
div#wps_etmwf_event_time img,
div#wps_etmwf_event_venue img {
  display: inline-block;
  margin-right: 5px;
  max-width: 24px;
}

.fc-header-toolbar.fc-toolbar {
  display: block;
}

.fc-toolbar-chunk {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wps-form-group__control input[type="checkbox"],
.wps-form-group__control input[type="radio"] {
  width: auto !important;
  margin-bottom: 3px;
}

/* form.cart {
  flex-direction: column;
  align-content: flex-start;
} */

.wps_etmfw_product_wrapper {
  flex: 1 0 100%;
}

.product-type-event_ticket_manager form.cart {
  display: flex;
  flex-wrap: wrap;
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
  margin-bottom: 2.617924em;
  background-color: #0f834d;
  margin-left: 0;
  border-radius: 2px;
  color: #fff;
  clear: both;
  border-left: 0.6180469716em solid rgba(0, 0, 0, 0.15);
  padding: 1em 2em 1em 3.5em;
  position: relative;
  list-style: none outside;
}

div#wps_etmfw_event_map {
  margin: 10px 0px;
}

#wps-calendar.fc-daygrid.fc-dayGridMonth-view.fc-view,
#wps-calendar.fc-timegrid.fc-timeGridDay-view.fc-view,
#wps-calendar.fc-timegrid.fc-timeGridWeek-view.fc-view {
  overscroll-behavior-x: auto;
  overflow: scroll;
  width: 100%;
}

.fc-scrollgrid.fc-scrollgrid-liquid {
  table-layout: auto;
}

#wps-calendar.fc-view-harness.fc-view-harness-active {
  height: 250px !important;
}

.fc-day {
  width: 40px;
}

.wps-edit-form-group div {
  display: flex;
  flex-wrap: wrap;
}

.wps-edit-form-group div #wps_etmfw_radio {
  width: auto;
}

@media only screen and (max-width: 768px) {
  .product-remove {
    display: none !important;
  }

  input#coupon_code {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 540px) {

  .wps_etmfw_view_ticket_section,
  .wps_etmfw_calendar_section {
    display: block;
    text-align: center;
  }

  a.wps_etmfw_add_event_calendar,
  a.wps_view_ticket_pdf {
    display: block;
  }

  .fc-toolbar-chunk {
    display: flex;
    margin-bottom: 10px;
  }

  .fc .fc-toolbar {
    display: block;
  }
}

.etmfw_expiration_message {
  color: red;
  font-size: 25px;
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--wps-myevent-tab a:before {
  content: "\f2ce";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--event-ticket a:before {
  content: "\f274";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img.wps_resend_image {
  background: #70b3b5;
  width: 45px;
}

#wps_share_ticket_lable {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 15px;
}

#wps_etmfw_error_message {
  font-size: 12px;
  color: white;
  margin: 10px 0;
}

.wps_etmfw_events_section,
.wps_etmfw_input_ticket_section {
  margin: 0 0 15px;
  flex-wrap: nowrap;
}

.wps_etmfw_events_section label,
.wps_etmfw_input_ticket_section label {
  font-size: 18px;
}

#wps_etmfw_event_selected {
  min-height: 40px;
  margin: 0;
}

#wps_select_user {
  margin: 0 0 15px;
  min-height: 40px;
}

#wps_etmfwp_checkin_button {
  min-height: 40px;
  padding: 10px;
}

input#wps_etmfw_chckin_email,
input#wps_etmfw_imput_ticket {
  min-height: 40px;
}

@media screen and (max-width: 580px) {

  .wps_etmfw_events_section,
  .wps_etmfw_input_ticket_section {
    align-items: flex-start;
    flex-direction: column;
    margin: 0 0 15px;
  }

  .wps_etmfw_events_section label,
  .wps_etmfw_input_ticket_section label {
    flex: 1;
    max-width: 100%;
    font-size: 18px;
  }

  select#wps_etmfw_event_selected {
    flex: 1;
    max-width: 100%;
    width: 100%;
  }

  input#wps_etmfw_chckin_email,
  input#wps_etmfw_imput_ticket {
    width: 100%;
    flex: 1;
    max-width: 100%;
  }
}

/* Event Listing using shortcode start */
.wps-etmw_search-input-wrap .wps-etmw_search-input input[type=text] {
  min-height: 40px;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  margin: 0;
  line-height: 1.5;
  appearance: auto;
  -webkit-appearance: auto;
}

.wps-etmw_search-input-wrap .wps-etmw_search-input select {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  margin: 0;
  appearance: inner-spin-button;
  -webkit-appearance: inner-spin-button;
  background-image: none;
  min-height: 40px;
  line-height: 1.5;
  height: auto;
}

.wps-etmw_search-input {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 10px;
  margin: 0 0 20px;
}

.wps-etmw_search-input input[type=text]:focus,
.wps-etmw_search-input select:focus {
  outline: none;
}

#wps-search-results {
  display: grid;
  gap: 20px;
  font-size: 14px;
  padding: 0;
  margin: 0 0 20px;
}

.wps-etmw_search-input-wrap {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
}

.wps-etmw_search-loader {
  position: absolute;
  top: 10px;
  right: 120px;
}

.wps-etmw_search-input-wrap .wps-etmw_search-loader img {
  width: 24px;
  height: 24px;
}

.wps-etmw_prod-desc h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.wps-etmw_prod-price {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.5;
}

.wps-etmw_prod-btn a.button {
  min-width: 80px;
  min-height: 30px;
  padding: 5px 10px;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
  line-height: 1.25;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
}

#wps-search-results img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1;
}

#wps-search-results.wps_list .wps-etmw_single-event {
  grid-template-columns: 180px 1fr;
  display: grid;
  gap: 20px;
}

.wps-etmw_all-date {
  font-size: 16px;
  color: #000;
  display: grid;
  gap: 5px;
}

/* Card2, Card3 */

#wps-search-results.wps_card-2 .wps-etmw_prod-desc h4,
#wps-search-results.wps_card-3 .wps-etmw_prod-desc h4 {
  margin: 20px 0 0;
}

#wps-search-results.wps_card-2 {
  grid-template-columns: 1fr 1fr;
}

#wps-search-results.wps_card-3 {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

@media screen and (max-width: 992px) {
  #wps-search-results.wps_card-2 {
    grid-template-columns: 1fr;
  }

  #wps-search-results.wps_card-3 {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}

@media screen and (max-width: 620px) {
  #wps-search-results.wps_list .wps-etmw_single-event {
    grid-template-columns: 1fr;
  }

  #wps-search-results.wps_card-3 {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

/* Event Listing using shortcode end */

/* Event tab in My account page end */

 .wps-etmw_prod-desc {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.wps-etmw_start-time, .wps-etmw_end-time,.wps-etmw_prod-venue {
  font-size: 14px;
  line-height: 1.5;
  display: inline-block;
}